<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rgk.RgkQappsFolder"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>
    <application
        android:icon="@drawable/ic_launcher_google"
        android:label="@string/google_activity_name"
        android:theme="@style/Transparent" >
        <!--
        <activity
            android:name="com.rgk.RgkQappsFolder.QappsActivity"
            android:icon="@drawable/ic_launcher_qapps"
            android:label="@string/qapps_activity_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        -->
        <activity
            android:name="com.rgk.RgkQappsFolder.GoogleActivity"
            android:icon="@drawable/ic_launcher_google"
            android:label="@string/google_activity_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.rgk.RgkQappsFolder.BaseActivity" />
    </application>

</manifest>